{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
<div style="padding : 60px;">
<h1 class="h1 text-center"> Logistic Regression </h1> 

<p> Logistic regression is an algorithm for binary classification. 
    Since in our problem, the output/target variable is binary and it’s a classification problem so we have used 
    logistic regression to predict whether or not anything is comparable to the posted question. </p>



<p> <b> <u>Accuracy:</u></b>  74.925%</p>

<p> Click on the below link to find the Model code for Logistic Regression </p>
<a href="https://github.com/prudhvitalluri/Data-Squad/blob/main/Quora_Question_Pairs_Using_Random_Forest_and_Logistic_Regression.ipynb">Random Forest and Logistic Regression</a>

{% endblock %}