{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
<div style="padding : 60px;">
<h1 class="h1 text-center"> Random Forest </h1> 

<p> Random Forests are an adaptive learning approach based on classification 
    tree boosting and bagging. The assumption behind this technique is that 
    studying sentence similarities on a certain form of text can improve prediction accuracy on 
    text with comparable characteristics. </p>


<p> <b> <u>Accuracy:</u></b> 68 %</p>

<p> Click on the below link to find the Model code for Random Forest </p>
<a href="https://github.com/prudhvitalluri/Data-Squad/blob/main/Quora_Question_Pairs_Using_Random_Forest_and_Logistic_Regression.ipynb">Random Forest and Logistic Regression</a>

{% endblock %}