{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
<div style="padding : 60px;">
<h1 class="h1 text-center"> SVM </h1> 

<p> The Support Vector Machine (SVM) is a classifier that uses a hyperplane 
    to differentiate between two classes. SVMs minimize the requirement for 
    feature selection due to their ability to generalize effectively in large dimensional 
    feature spaces, making the application of text classification significantly easier. 
    The robustness of SVMs over traditional approaches is another advantage. </p>


<p> <b> <u>Accuracy:</u></b>  %</p>

<p> Click on the below link to find the Model code for SVM </p>
<a href="  ">SVM</a>

{% endblock %}